# Virtual environment
venv/

# Secrets
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs and temporary files
*.log
*.tmp
*.swp
.DS_Store

# VS Code settings
.vscode/

# Documentation training
docs/

userbot_session.*